:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  background-color: #0f172a; /* Dark sleek background */
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#root {
  width: 100%;
}
